<mat-toolbar>
  Larmina
  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button [mat-menu-trigger-for]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Sign In
    </button>
  </ng-template>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu=""matMenu>
  <button mat-button (click)="logOut()">Log Out!</button>
</mat-menu>